<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @admin_comment.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @admin_comment.body %>
</p>


<%= link_to 'Edit', edit_admin_comment_path(@admin_comment) %> |
<%= link_to 'Back', admin_comments_path %>
