.hack.row
  .col-xs-2.col-sm-1
    = render partial: 'hacks/voting', locals: { hack: hack }
  .hack-details.col-xs-10.col-sm-11
    %h3
      = link_to hack.title, hack
      - if hack.video?
        = image_tag("/assets/video-icon24.png")
      - if hack.trophy?
        - if (hack.trophy.include? "Honourable")
          = image_tag("/assets/silver-star-24.png")
        - else
          = image_tag("/assets/trophy_24.png")
    .hack-description= truncate(hack.description, length: 140)