<div class="new_hack_form">
    <%= form_for @hack do |f| %>
      <fieldset class="input">
        <p><strong>Name:</strong></p>
        <%= f.text_field :title, style: "width:350px;" %>
        <p><strong>Description:</strong></p>
        <%= f.text_area :description, style: "width:350px;" %>
        <p><strong>How Many hackers do you want/need?</strong></p>
        <%= f.number_field :requested_hackers, in: 1...16, style: "width:35px;" %>
        <br />
      </fieldset>
      <%= f.submit "Submit!", :class => "btn btn-success" %>
    <% end %>
</div>