<h2>Top Hacks</h2>

<% @hacks.each do |hack| %>
  <div class="hack-voting">
    <%= link_to image_tag('arrow-up.png'), upvote_path(hack) %>
	<span class="votes"><%= hack.votes %></span>
	<%= link_to image_tag('arrow-down.png'), downvote_path(hack) %>
  </div>

  <div class="hack-details">
    <h3><%= link_to hack.title, hack %></h3>
    <p><%= truncate(hack.description, :length => 140) %></p>
  </div>
<% end %>

<div class="pagination">
  <%= will_paginate @hacks %>
</div>