.results-container
  %h1
    = "Search results"
  - @hacks.each do |result|
    - if defined?(result.title)
      .hacks
        .col-xs-2.col-sm-1.hack-score
          %h2
            = result.votes
        .hack-details.col-xs-10.col-sm-11
          %h3
            = link_to result.title, result
            - if result.video?
              = image_tag("video-icon24.png")
            - if result.trophy?
              - if (result.trophy.include? "Honourable")
                = image_tag("silver-star-24.png")
              - else
                = image_tag("trophy_24.png")
          %h4
            = "Created at: " + result.hackday.title
          %p
            = result.hackday.date
          .hack-description= truncate(result.description, length: 140)
          .hack-contributors
            = render result.contributors
          .tag-list
            = raw result.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
    - if defined?(result.name)
      = render result