<ul class="nav nav-pills">
  <% if @view == 'top' %>
    <li class="active"><a href="#">Top Hacks</a></li>
    <li><%= link_to "Presentation Queue", hacks_path(:view => :presentation) %></li>
  <% elsif @view == 'presentation' %>
    <li><%= link_to "Top Hacks", hacks_path(:view => :top) %></li>
    <li class="active"><a href="#">Presentation Queue</a></li>
  <% end %>
</ul>

<% if @hacks %>
  <% @hacks.each_with_index do |hack, index| %>
    <% if @view == 'top' %>
      <div class="row">
        <div class="hack-voting">
          <%= link_to image_tag('arrow-up.png'), upvote_hack_path(hack) %>
      	  <span class="votes"><%= hack.votes %></span>
      	  <%= link_to image_tag('arrow-down.png'), downvote_hack_path(hack) %>
        </div>

        <div class="hack-details">
          <h3><%= link_to hack.title, hack %></h3>
          <span><%= truncate(hack.description, :length => 140) %></span>
        </div>
      </div>
    <% elsif @view == 'presentation' %>
      <div class="row">
      <div class="hack-voting">
        <%= link_to image_tag('arrow-up.png'), move_up_in_queue_hack_path(hack) %>
        <span class="votes"><%= hack.presentation_index %></span>
        <%= link_to image_tag('arrow-down.png'), move_down_in_queue_hack_path(hack) %>
      </div>

      <div class="hack-details">
        <span>
          <h3 class="presentation-queue-title"><%= link_to hack.title, hack %>
            <% if GlobalConfiguration.get.presentation_in_progress && [0,1,2,3].include?(hack.presentation_index - 1) %>
              <% notification_selector = {0 => 'important', 1 => 'warning', 2 => 'success', 3 => 'info'} %>
              <% notification_texts = {0 => 'Presenting', 1 => 'Stand by', 2 => 'On deck', 3 => 'Please get on deck'} %>
              <span class="display-group label label-<%= notification_selector[hack.presentation_index - 1] %>"><%= notification_texts[hack.presentation_index - 1] %></span>
            <% end %>
          </h3>
          <b>
            by 
            <% hack_submitter = hack.creator %>
            <% hack.contributions.each_with_index do |contribution, i| %>
              <% unless contribution.user == hack_submitter %>
                <%= contribution.user.name %>, 
              <% end %>
            <% end %>
            <%= hack_submitter.name %>
          </b>
        </span>
        <p>
          <%= truncate(hack.description, :length => 140) %>
        </p>
        <% if GlobalConfiguration.get.presentation_in_progress && (current_user.mc? || current_user.admin?) && (hack.presentation_index == 1) %>
          <p><%= link_to "This presentation is done", leave_presentation_hack_path(hack, :no_activity => true), :class => "btn btn-small btn-primary" %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>

  <% if @hacks.empty? %>
    <% if @view == 'top' %>
      <p>No hacks yet. Why not add one?</p>
    <% elsif @view == 'presentation' %>
      <p>There's nothing queued up right now.</p>
    <% end %>
  <% end %>

<% end %>