<div class="new_hack_form">
    <%= form_for Hack.new do |f| %>
      <fieldset class="input">
        <p><strong>Name:</strong></p>
        <%= f.text_field :title, style: "width:350px;" %>
        <p><strong>Description:</strong></p>
        <%= f.text_area :description, style: "width:350px;" %>
        <p><strong>How Many hackers do you want/need?</strong></p>
        <%= number_field_tag 'requested_hackers', 1, in: 1...16, style: "width:35px;" %> 
        <p><strong>What is your Hackday Group Number? (Get it from Haley, or leave it blank.)</storng></p>
        <%= f.text_field 'group_number', style: "width:35px;" %>
        <br />
      </fieldset>
      <%= f.submit "Submit!", :class => "btn btn-success" %>
    <% end %>
</div>