<a href="/votes/up"><i class="icon-chevron-up"></i></a>
<%= @hack.votes %>
<%= link_to 'upvote', upvote_path(@hack) %>
<%= link_to 'downvote', downvote_path(@hack) %>

<h2><%= @hack.title %></h2>
<p><%= @hack.description %></p>

<% unless @hack.url.blank? %>
<p><a href="<%= hack.url %>">Learn more here!</a></p>
<% end %>

<% unless @hack.contributions.empty? %>
<p>
	<strong>Contributors</strong><br/>
	<% @hack.contributions.each do |contribution| %>
    	<img src="https://graph.facebook.com/<%= contribution.user.uid %>/picture" class="img-circle" />
	<% end %>
	<% unless @hack.contributions.detect {|c| c.user_id == curent_user.id} %>
		<%= button_to "I helped!", ihelped_path(@hack) %>
	<% end %>
</p>
<% else %>
	<p>No one has claimed this hack yet!</p>
<% end %>


<h3>Comments</h3>
<% unless @hack.comments.empty? %>
<ul>
	<% @hack.comments.each do |comment| %>
		<li>
			<p><em><%= comment.user.name %> says.. </em></p>
			<p><%= comment.body %></p>
		</li>
	<% end %>
</ul>
<% else %>
<p>Sadly no one has commented yet!</p>
<% end %>

<div id="new_comment_form">
	<%= form_for @hack.comments.new do |f| %>
	  <fieldset class="input">
	    <%= f.text_area :body %>
	    <%= hidden_field_tag 'hack_id', @hack.id %>
	  </fieldset>

	    <%= f.submit "Make my voice heard!", :class => 'btn btn-success' %>
	<% end %>
</div>