<a href="/votes/up"><i class="icon-chevron-up"></i></a>
<%= @hack.votes %>
<%= link_to 'upvote', upvote_path(@hack) %>
<%= link_to 'downvote', downvote_path(@hack) %>

<h2><%= link_to @hack.title, @hack %></h2>
<p><%= truncate(@hack.description, :length => 140) %></p>

<% unless @hack.url.blank? %>
<p><em>URL:</em> <%= hack.url %></p>
<% end %>

<h3>Comments</h3>

<% unless @hack.comments.empty? %>
<ul>
	<% @hack.comments.each do |comment| %>
		<li>
			<p><em><%= comment.user.name %> says.. </em></p>
			<p><%= comment.body %></p>
		</li>
	<% end %>
</ul>
<% else %>
<p>Sadly no one has commented yet!</p>
<% end %>

<!-- TODO: add comment button -->

<button id="new_comment_button" class="btn">Add Comment</button>

<div id="new_comment_form" style="display:none">
	<%= form_for @hack.comments.new do |f| %>
	  <fieldset class="input">
	    <%= f.text_field :body %>
	    <%= hidden_field_tag 'hack_id', @hack.id %>
	    <%= hidden_field_tag 'user_id', current_user.id %>
	  </fieldset>

	  <fieldset class="button">
	    <%= f.submit "Post" %>
	  </fieldset>
	<% end %>
</div>

<script type="text/javascript">
  jQuery('#new_comment_button').click(function(e){
	  jQuery('#new_comment_form').css('display', 'block');
	  jQuery('#new_comment_button').css('display', 'none');
	});
</script>