<h2><%= @hack.title %></h2>
<div class="hack-voting">
	<%= link_to image_tag('arrow-up.png'), upvote_hack_path(@hack) %>
	<span class="votes"><%= @hack.votes %></span>
	<%= link_to image_tag('arrow-down.png'), downvote_hack_path(@hack) %>
</div>

<div class="hack-details">
	<p><%= @hack.description %></p>

	<% unless @hack.url.blank? %>
	<p><a href="<%= hack.url %>">Learn more here!</a></p>
	<% end %>

	<strong>Contributors</strong><br/>

	<% @hack.contributions.each do |contribution| %>
	    <img src="<%= contribution.user.mugshot_url %>" class="img-circle" />
	<% end %>

  <% unless @hack.contributions.size >= @hack.requested_hackers %>
  <p>
    <% (@hack.requested_hackers - @hack.contributions.size).times do |i| %>
	    <div class="unfulfilled_hacker_slot">
	    	<span>?</span>
	    </div>
	  <% end %>
	</p>
  <% end %>

  <% if @hack.contributions.empty? %>
		<span><em>No one has claimed this hack yet! This hack needs <%= @hack.requested_hackers %> more hackers!</em></span>
	<% elsif @hack.requested_hackers > @hack.contributions.size %>
    <% if is_current_contributor %>
      <div id='current-contributor'>
        <em>You contributed to this hack! Nicely done</em>
        <%= link_to "I lied...", ilied_hack_path(@hack), :'data-method' => :post, :class => 'btn btn-small btn-danger' %>
      </div>
    <% end %>
	  <span><em>This hack needs <%= @hack.requested_hackers - @hack.contributions.size %> more hackers!</em></span>
	<% end %>
	<% if is_current_contributor %>
	  <% unless @hack.presentation_index %>
		  <%= link_to "Present this hack!", join_presentation_hack_path(@hack), :class => "btn btn-small btn-primary" %>
		<% else %>
		  <%= link_to "Don't present this hack", leave_presentation_hack_path(@hack), :class => "btn btn-small btn-inverse" %>
		<% end %>
  <% else %>
    <%= link_to "I helped!", ihelped_hack_path(@hack), :'data-method' => :post, :class=>'btn btn-small btn-success' %>
	<% end %>

</div>

<div style="clear:both;"></div>

<h3>Comments</h3>
<% unless @hack.comments.empty? %>
<ul>
	<% @hack.comments.each do |comment| %>
		<li class="comment">
			<img src="<%= comment.user.mugshot_url %>" class="img-circle"/>
			<p><em><%= comment.user.name %> says.. </em></p>
			<p><%= comment.body %></p>
		</li>
	<% end %>
</ul>
<% else %>
<p>Sadly no one has commented yet!</p>
<% end %>

<div id="new_comment_form">
	<strong>Add your thoughts!</strong>
	<%= form_for @hack.comments.new do |f| %>
	  <fieldset class="input">
	    <%= f.text_area :body %>
	    <%= hidden_field_tag 'hack_id', @hack.id %>
	  </fieldset>

	    <%= f.submit "Make my voice heard!", :class => 'btn btn-success' %>
	<% end %>
</div>
