<a href="/votes/up"><i class="icon-chevron-up"></i></a>

<h2><%= @hack.title %></h2>
<div class="hack-voting">
	<%= link_to image_tag('arrow-up.png'), upvote_path(@hack) %>
	<span class="votes"><%= @hack.votes %></span>
	<%= link_to image_tag('arrow-down.png'), downvote_path(@hack) %>
</div>

<div class="hack-details">
	<p><%= @hack.description %></p>

	<% unless @hack.url.blank? %>
	<p><a href="<%= hack.url %>">Learn more here!</a></p>
	<% end %>

	<strong>Contributors:</strong>

	<% unless @hack.contributions.empty? %>
		<% @hack.contributions.each do |contribution| %>
	    	<img src="https://graph.facebook.com/<%= contribution.user.uid %>/picture" class="img-circle" />
		<% end %>
	<% else %>
		<span><em>No one has claimed this hack yet!</em></span>
	<% end %>
	<% unless @hack.contributions.detect {|c| c.user_id == curent_user.id} %>
		<%= link_to "I helped!", ihelped_path(@hack), :class=>'btn btn-small btn-success' %>
	<% end %>

</div>

<div style="clear:both;"></div>

<h3>Comments</h3>
<% unless @hack.comments.empty? %>
<ul>
	<% @hack.comments.each do |comment| %>
		<li class="comment">
			<img src="https://graph.facebook.com/<%= comment.user.uid %>/picture" class="img-circle"/>
			<p><em><%= comment.user.name %> says.. </em></p>
			<p><%= comment.body %></p>
		</li>
	<% end %>
</ul>
<% else %>
<p>Sadly no one has commented yet!</p>
<% end %>

<div id="new_comment_form">
	<strong>Add your thoughts!</strong>
	<%= form_for @hack.comments.new do |f| %>
	  <fieldset class="input">
	    <%= f.text_area :body %>
	    <%= hidden_field_tag 'hack_id', @hack.id %>
	  </fieldset>

	    <%= f.submit "Make my voice heard!", :class => 'btn btn-success' %>
	<% end %>
</div>