= content_for :title do
  = raw("&raquo;") + ' ' + @hack.hackday.title

.col-md-8
  %h2= @hack.title

  .row
    .col-xs-2.col-sm-1
      = render partial: 'voting', locals: { hack: @hack }
    .col-xs-10.col-sm-11
      .hack-details
        %p= @hack.description
        - unless @hack.url.blank?
          = link_to "Learn more here!", hack.url
      #team
        %strong Team
        = render @hack.contributions.map { |c| c.user }

  %h3 Comments
  - unless @hack.comments.empty?
    = render @hack.comments
  - else 
    %p Sadly no one has commented yet!

  #new_comment_form
    %strong Add your thoughts!
    = form_for @hack.comments.new do |f|
      %fieldset.input
        = f.text_area :body, class: 'form-control', rows: 3
        = hidden_field_tag 'hack_id', @hack.id

      = f.submit "Post Comment", class: 'btn btn-success'