.row
  %h2= @hack.title

.row
  .col-xs-3
    = render partial: 'voting', locals: { hack: @hack }
  .col-xs-9
    .hack-details
      %p= @hack.description
      - unless @hack.url.blank?
        = link_to "Learn more here!", hack.url

.col-xs-12#team
  %strong Team
  = render partial: 'users/mugshot', collection: @hack.contributions
  / TODO: make sure @hack.creator is included

  %h3 Comments
  - unless @hack.comments.empty?
    %ul
      - @hack.comments.each do |comment|
        %li.comment
          = render partial: 'users/mugshot', locals: { user: comment.user }
          %p
            %em= comment.user.name + " says.."
          %p= comment.body
          %abbr.timeago{title: comment.created_at.getutc.iso8601 }
            = comment.created_at.to_s
  - else 
    %p Sadly no one has commented yet!

  #new_comment_form
    %strong Add your thoughts!
    = form_for @hack.comments.new do |f|
      %fieldset.input
        = f.text_area :body
        = hidden_field_tag 'hack_id', @hack.id

      = f.submit "Post Comment", class: 'btn btn-success'