= content_for :title do
  = raw("&raquo;") + ' ' + @hack.hackday.title

.col-md-8
  = link_to raw("&laquo;") + ' ' + @hack.hackday.title, @hack.hackday
  %h2#hack-title= @hack.title
  - if is_contributor?
    .btn-group.btn-group-xs
      = link_to @hack, method: :delete,                             |
                       type: 'button',                              |
                       class: 'btn btn-danger', id: 'hack-delete',  |
                       confirm: "YOU WANT TO DELETE YOUR HACK?!" do |
        %span.glyphicon.glyphicon-trash
      = link_to '#',                                       |
                type: 'button',                            |
                class: 'btn btn-default', id: 'hack-edit', |
                'data-toggle' => 'modal',                  |
                'data-target' => '#hack-form' do           |
        %span.glyphicon.glyphicon-edit

  .row
    .col-xs-2.col-sm-1
      = render partial: 'voting', locals: { hack: @hack }
    .col-xs-10.col-sm-11
      .hack-details
        %p= @hack.description
        - unless @hack.url.blank?
          = link_to "Learn more here!", @hack.url
      #team
        %strong Team
        %br
        = render @hack.contributors
        - unless is_contributor?
          = link_to "Join", add_contribution_hack_path(@hack), |
                    method: :post,                             |
                    id: 'hack-join'                            |

  %h3 Comments
  - unless @hack.comments.empty?
    = render @hack.comments
  - else 
    %p Sadly no one has commented yet!

  #new_comment_form
    %strong Add your thoughts!
    = form_for @hack.comments.new do |f|
      %fieldset.input
        = f.text_area :body, class: 'form-control', rows: 3
        = hidden_field_tag 'hack_id', @hack.id

      = f.submit "Post Comment", class: 'btn btn-success'


= render partial: 'hacks/form', locals: { hack: @hack }