.modal.fade#hackday-form
  .modal-dialog{role: 'dialog'}
    .modal-content
      = form_for hackday do |f|
        .modal-header
          %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
          %h4.modal-title      
            = hackday.new_record? ? "Create a new Hack Day!" : "Edit " + hackday.title
        .modal-body
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control', placeholder: "something cool like \"Hackapalooza\" or \"Hackoween\""
          .form-group
            = f.label :date, "Demo Day"
            = f.text_field :date,                                                       |
                           class: 'form-control',                                       |
                           placeholder: "when will people be showing off their hacks?"  |

        .modal-footer
          - unless hackday.new_record? 
            = link_to "Delete Hackday", hackday,                    |
                      method: :delete,                              |
                      id: 'hack-delete',                            |
                      confirm: "YOU WANT TO DELETE YOUR HACK DAY?!" |
          %button.btn.btn-default{type: "button", 'data-dismiss'=>"modal"} Cancel
          - hackday.new_record? ? submit_text = "Create your Hack Day" : submit_text = "Update this hack day"
          = f.submit submit_text, class: 'btn btn-primary btn-success'