.col-md-8
  %h2= @hackday.title
  .row
    .col-md-6
      %ul.nav.nav-pills
        %li
          = link_to "Top Hacks", hackday_path(@hackday)
        %li 
          = link_to "Queue", queue_hackday_path(@hackday)
        %li.active
          = link_to "Judges Comments", judges_hackday_path(@hackday)

    - if current_user and not is_mobile_device?
      .col-md-4.pull-right.add-hack
        %button.btn.btn-success.btn-sm{'data-toggle' => 'modal', 'data-target' => '#hack-form'}
          %span.glyphicon-plus.glyphicon
          Add Hack

  #hacks
    .alert.alert-info
      This is a spot for judges to review private comments
    - unless @judges_comments.empty?
      = render @judges_comments, judges: true
    - else
      %p.blank-slate No private comments yet - this is probably for the best

  - if is_mobile_device?
    .add-hack-mobile
      %button.btn.btn-success.btn-sm{'data-toggle' => 'modal', 'data-target' => '#hack-form'}
        %span.glyphicon-plus.glyphicon

- unless is_mobile_device?
  = render partial: 'activities/stream', locals: { scope: @hackday }

= render partial: 'hacks/form', locals: { hack: @hackday.hacks.new }