.col-md-8
  %h2= @hackday.title
  #tag_cloud
    - tag_cloud @hackday.hacks  .tag_counts(:limit => 30, :order => "count desc"), %w{s m l} do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: css_class
  .row
    .col-md-8
      %ul.nav.nav-pills
        %li
          = link_to "Top Hacks", hackday_path(@hackday)
        %li.active
          = link_to "Queue", queue_hackday_path(@hackday)
        - if @hackday.has_admin?(current_user)
          %li
            = link_to "Judges Comments", judges_hackday_path(@hackday)
        %li
          = link_to "Hackday Group", feed_hackday_path(@hackday)

    .col-md
      %ul.nav.nav-pills.pull-right.add-hack
        - if @hackday.has_admin?(current_user) && !is_mobile_device?
          %li
            %button.btn.btn-success.btn-sm{'data-toggle' => 'modal', 'data-target' => '#admin-form'}
              %span.glyphicon-user.glyphicon
              Add Judge
        - if current_user and not is_mobile_device?
          %li
            %button.btn.btn-success.btn-sm{'data-toggle' => 'modal', 'data-target' => '#hack-form'}
              %span.glyphicon-plus.glyphicon
              Add Hack

  #hacks
    - unless @hackday.queue.empty?
      %ol= render partial: 'hacks/queued_hack', collection: @hackday.queue(false)
    - else
      %p.blank-slate
        Nothing is queued up to present :(
      %p.blank-slate
        If you own a hack, go and queue it for presentation - you'll be first up!

  - if is_mobile_device?
    .add-hack-mobile
      %button.btn.btn-success.btn-sm{'data-toggle' => 'modal', 'data-target' => '#hack-form'}
        %span.glyphicon-plus.glyphicon

  #presentations-control.row
    .col-md-12.alert.alert-info
      .col-md-3
        %h3= pluralize(@hackday.queue(true).count, 'hack') + " left"
      .col-md-9.text-right
        - if @hackday.has_admin?(current_user)
          %button.btn.btn-info.btn-lg{'data-toggle' => 'modal', 'data-target' => '#break-form'}
            %span.glyphicon-pause.glyphicon
            Add Break
          - if @hackday.presentation_in_progress?
            = link_to 'Projector View', display_queue_hackday_path(@hackday),
                      method: 'get', role: 'button',
                      class: 'btn btn-info btn-lg',
                      id: 'display-queue'
            = link_to 'End Presentations', end_presentations_hackday_path(@hackday),
                      method: 'post', role: 'button',
                      class: 'btn btn-danger btn-lg',
                      id: 'end-hackday'
          - else
            = link_to 'Start Presentations', start_presentations_hackday_path(@hackday),
                      method: 'post', role: 'button',
                      class: 'btn btn-success btn-lg',
                      id: 'start-hackday'

- unless is_mobile_device?
  = render partial: 'activities/stream', locals: { scope: @hackday }

= render partial: 'hacks/form', locals: { hack: @hackday.hacks.new }
= render partial: 'hackdays/admin_form', locals: { hackday: @hackday }
= render partial: 'hackdays/break_form', locals: { hackday: @hackday }