.col-md-8
  %h2= @hackday.title
  .row
    .col-md-6
      %ul.nav.nav-pills
        %li.active
          = link_to "Top Hacks", hackday_path(@hackday)
        %li 
          = link_to "Presentation Queue", queue_hackday_path(@hackday)
    - if current_user
      .col-md-4.pull-right
        %button.btn.btn-success.btn-lg{'data-toggle' => 'modal', 'data-target' => '#hack-form'}
          %span.glyphicon-plus.glyphicon
          Add Hack

  #hacks
    - if @hacks
      = render @hacks
    - else
      %p no hacks submitted yet :(

= render partial: 'activities/stream', locals: { scope: @hackday }

= render partial: 'hacks/form', locals: { hack: @hackday.hacks.new }