<!DOCTYPE html>
<html>
  <head>
    <title>Hackday</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
    <% end %>

    <% if flash[:message] %>
    <div class="alert alert-success">
      <%= flash[:message] %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>  
    <% end %>


    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span8">
          <h1>SharePoint Hack Day!</h1>
          <p class="lead">Democratizing hack day judging. Freedom from Lauren's tyranny at last!</p>
        </div>

        <div id="user-block" class="span4">
            <% if current_user %>
              <img src="https://graph.facebook.com/<%= current_user.uid %>/picture?width=140&height=140" class="img-circle" /><br/>
              <strong><%= current_user.name %>!</strong><br/>
              Bankroll: <strong><%= current_user.bankroll %></strong>
            <% else %>
              <%= link_to "Sign in with Facebook!", "/auth/facebook", id: "sign_in" %>
            <% end %>
        </div>
      
        <div class="span6">
          <%= yield %>
        </div>
      </div>
    

    </div><!-- end of container -->

  </body>
</html>
